// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: #cd1e37; // rgba(205, 30, 55, 1)

$background-color: #fff;

$toolbar-background: #fff;

// Grid breakpoints
// --------------------------------------------------
$grid-max-widths: (
 lg: 992px
);

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #cd1e37,
  secondary:  #ff9e21,
  danger:     #dc3545,
  light:      #ffd1d7,
  dark:       #96071a
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// $toolbar-ios-background: color($colors, primary);
$toolbar-ios-border-color: rgba(205, 30, 55, .4);

$searchbar-ios-min-height: 52px;
$searchbar-ios-input-height: 3.5rem;
$searchbar-ios-background-color: #fff;
$searchbar-ios-input-background-color: #eff2f5;
$searchbar-ios-toolbar-input-background: $searchbar-ios-input-background-color;
$searchbar-ios-border-color: #eff2f5;

$list-ios-border-color: rgba(205, 30, 55, .2);

$card-ios-box-shadow-color: rgba(205, 30, 55, .3);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-border-color: rgba(205, 30, 55, .2);
$searchbar-md-input-background-color: $searchbar-ios-input-background-color;
$searchbar-md-input-border-radius: 5px;

$list-md-border-color: rgba(205, 30, 55, .2);
// $toolbar-md-background: color($colors, primary)

$card-md-box-shadow: 0 2px 2px 0 rgba(205, 30, 55, .14), 0 3px 1px -2px rgba(205, 30, 55, .2), 0 1px 5px 0 rgba(205, 30, 55, .12);

$toolbar-md-text-color: #96071a;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";
